@model checklists.ViewModels.CheckListItems.RemoverViewModel

@{
    ViewData["Title"] = "Remover item";
}

<div class="mb-2">
    <a href="/CheckListItems" class="btn btn-secondary btn-sm">Voltar para Listagem</a>
</div>

<div class="card">
<div class="card-header">
    <h2 class="card-title">Remover Item @Model.Id</h2>
</div>
<div class="card-body">
    @if (@Model.msgErros != null)
    {
        <ul class="alert alert-danger">
            @foreach (var msgErro in @Model.msgErros)
            {
                <li>@msgErro</li>
            }
        </ul>
    }
    
    <form action="Remover/@Model.Id" method="post">
        <div class="form-group">
            <p>Dados para remover o item</p>
            
            <ul>
                <li>
                    <strong>Título: @Model.Titulo</strong>
                </li>
                
                <li>
                    <strong>CheckList: @Model.CheckList</strong>
                </li>
                <li>
                    <strong>Status de Realizado: @Model.Realizado</strong>
                </li>
                <li>
                    <strong>Data da Realização: @Model.DataRealizacao</strong>
                </li>
                <li>
                    <strong></strong>
                </li>
                
            </ul>
            <p> <strong> Atenção:</strong> Essa operação não pode ser desfeita! </p>
            
        </div>
        <div class="form-group">
            <input name="remover" class="btn btn-primary" type="submit" value="Remover Item"> 
        </div>

    </form>
</div>
</div>